{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "linebreak-style": "off",
    "import/no-unresolved": "off",
    "semi": "off",
    "class-methods-use-this": "off"
  },
  "extends": "airbnb-base"
}
